/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

html {
  font-size: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
  font-size: 1rem;
  font-weight: 700;
}

body {
  max-width: 1440px;
  min-width: 375px;
  margin: 0 auto;
  min-height: 100vh;
  color: hsl(303, 10%, 53%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.page {
  width: 375px;
  padding: 2% 0;
  background-color: hsl(0, 0%, 100%);
  background-image: url(./images/bg-pattern-top-mobile.svg), url(./images/bg-pattern-bottom-mobile.svg);
  background-position: left 0px top 0px, right 0px bottom 0px;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/*=============header styles=============*/
header {  
  text-align: center;
}

h1 {
  width: 80%;
  margin: 20% auto 5%;
  font-size: 2rem;
  line-height: 2rem;
  color: hsl(300, 43%, 22%);
}

header p {
  width: 90%;
  font-size: .98rem;
  font-weight: 500;
  line-height: 1.5rem;
  margin: 5% auto
}

/*=============main container styles=============*/
.reviews {
  width: 90%;
}

/*containers with ratings & star icons*/
.reviews__ratings {
  width: 90%;
  margin: 5% auto;
}

li {
  list-style: none;
  text-align: center;
  margin: 5% auto;
  background: hsl(300, 24%, 96%);
  padding: 5% 10%;
  border-radius: 10px;
}

li p {
  color: hsl(300, 43%, 22%);
  margin: 2% 0
}
img {
  width: 8%;
  padding: 1%;
}

/*testimonials*/
.reviews__testimonials {
  margin: 15% auto 0;
}

.reviews__testimonials-item {
  background-color: hsl(300, 43%, 22%);
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 14% 8%;
}

.reviews__testimonials-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reviews__testimonials-pic {
  border-radius: 50%;
  width: 17%;
}

.reviews__testimonials-profile span {
  margin-right: 35%;
}
.reviews__testimonials-title {
  color: hsl(300, 24%, 96%);
  font-weight: 500;
}

.reviews__testimonials-role {
  color: hsl(333, 80%, 67%);
  margin-top: 5%;
  font-weight: 400;
}

.reviews__testimonials-post {
  margin-top: 10%;
  font-size: .9rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: hsl(300, 24%, 96%);
}

/*=============footer styles=============*/
.attribution {
  font-size: 0.75rem;
  text-align: center;
  margin: 4% auto;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  font-size: .75rem;
}

/*=============media queries=============*/
@media screen and (min-width: 768px) {
  .page {
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 5% 10%;
    background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
    background-size: 36%, 82%;
  }
  header {
    width: 50%;
    text-align: left;
    padding: 2% 0;
  }
  h1 {
    margin: 0 0 3% 0;
  }
  header p {
    margin: 0;
    width: 95%;
    font-size: .85rem;
    line-height: 1.45rem;
  }
  .reviews__ratings {
    width: 50%;
    margin: 2% 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  li {
    padding: 2% 0% 2% 4%;
    display: flex;
    align-items: center;
    width: 90%;
    margin: 2% 14% 5% 0;
  }
  li:nth-of-type(2) {
    margin-right: 7%;
  }
  li:nth-of-type(3) {
    margin-right: 0%;
  }
  img {
    width: 6%;
  }
  li p {
    margin: 2% 0 2% 4%;
    font-size: .65rem;
  }
  .reviews {
    width: 100%;
  }
  .reviews__testimonials {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 3% auto 0;
  }
  .reviews__testimonials-item {
    width: 31%;
    padding: 3% 2%;
  }
  .reviews__testimonials-item:nth-of-type(2) {
    margin-top: 2%;
  }
  .reviews__testimonials-item:nth-of-type(3) {
    margin-top: 6%;
  }
  .reviews__testimonials-profile span {
    width: 40%;
    text-align: right;
    margin: 0;
  }
  .reviews__testimonials-pic {
    width: 45%;
  }
  .reviews__testimonials-post {
    width: 98%;
  }
}
@media screen and (min-width: 1024px) {
  .reviews__testimonials-pic {
    width: 35%;
  }
  .reviews__testimonials-profile span {
    width: 60%;
  }
  
}
@media screen and (min-width: 1440px) {
  header {
    width: 40%;
    padding: 2% 0;
  }
  h1 {
    width: 80%;
    font-size: 3rem;
    line-height: 3rem;
  }
  header p {
    margin: 0;
    width: 100%;
    font-size: 1rem;
    line-height: 1.75rem;
  }
  .reviews__ratings {
    width: 60%;
  }
  li {
    width: 70%;
    margin: 2% 14% 0 0;
  }
  li p {
    margin: 2% 0 2% 4%;
    font-size: 1rem;
  }
  .reviews__testimonials-pic {
    width: 17%;
  }
  .reviews__testimonials-profile span {
    margin-right: 15%;
    text-align: left;
  }
}